<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

<body class="bg-gray-100 text-gray-900">
    <main class="mx-auto mt-20 max-w-lg px-5">
        <h1 class="text-4xl">Whoopsie-daisy!</h1>
        <p class="text-lg">
            You just got yourself a little error there...
        </p>

        <div class="mt-8">
            <h2 class="text-2xl font-semibold text-rose-600">
                {{ .StatusCode }} - {{ .StatusText }}
            </h2>
            <p class="font-semibold text-rose-600">{{ .Message }}</p>
        </div>

        <p class="mt-8">
            Go back to the
            <a href="/" class="text-blue-600 hover:text-blue-400">homepage</a>
            and try again.
        </p>
    </main>
</body>

</html>
