{{ define "head" }}
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Rubik&display=swap"
        rel="stylesheet">
</head>
{{ end }}

{{ define "footer" }}
<footer>
    Brought to you by
    <a href="https://github.com/wipdev-tech" class="text-blue-600 hover:text-blue-400"
        target="_blank">wipdev</a>
</footer>
{{ end }}
