<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

<body class="bg-gray-100 text-gray-900">
    <main class="mx-auto mt-20 max-w-lg px-5">
        <h1 class="text-5xl font-heading font-semibold">Goschulte</h1>
        <h2 class="text-3xl font-heading">Schulte tables for reading practice</h2>
        <section class="my-7">
            <p>
                Schulte tables are a type of visual search exercise that can help to improve your reading speed,
                attention, and peripheral vision.
            </p>
        </section>

        <section class="my-7">
            <h3 class="text-2xl font-heading mb-3">Instructions</h3>
            <p>
            <ul class="list-disc space-y-2">
                <li>
                    When you start, you will see a grid with shuffled numbers depending on your chosen size. For
                    example, choosing a 3x3 table will shuffle numbers from 1 to 9.
                </li>
                <li>
                    Your eyes should be fixed in the center of the table. For a grid with an odd size, this will be one
                    of the numbers. For a grid with an even size, it will a be a point between the 4 innermost cells.
                </li>
                <li>
                    You need to find the numbers in ascending order (without skipping any numbers) in a soundless count,
                    indicating the numbers only by sight.
                </li>
            </ul>
            </p>
        </section>

        <section class="my-7">
            <h3 class="text-2xl font-heading mb-3">Choose a table size</h3>
            <form class="w-full" method="get" action="/table">
                <select size="4" class="w-full bg-gray-300 rounded" name="size" id="table-size" required>
                    <option value="3" class="h-10 flex items-center justify-center">3x3</option>
                    <option value="4" class="h-10 flex items-center justify-center">4x4</option>
                    <option value="5" class="h-10 flex items-center justify-center">5x5</option>
                    <option value="6" class="h-10 flex items-center justify-center">6x6</option>
                </select>

                <button type="submit" class="w-full my-2 py-1 rounded bg-gray-900 text-gray-100">
                    Generate Table
                </button>
            </form>
        </section>
        {{ template "footer" }}
    </main>
</body>


</html>
