<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Rubik&display=swap"
        rel="stylesheet">
</head>

<body class="bg-gray-900 text-gray-100">
    <main class="mx-auto mt-16 max-w-lg">
        <h1 class="text-5xl font-heading font-semibold">Goschulte</h1>
        <h2 class="text-2xl font-heading">Schulte tables for reading practice</h2>
        <section class="my-8">
            <p>
                Schulte tables are a type of visual search exercise that can help to improve your reading speed,
                attention, and peripheral vision. They consist of a grid of numbers or letters that are arranged in
                random order. The goal is to find each number or letter in the grid, starting from the top left and
                moving down and to the right, as quickly as possible.
            </p>
        </section>
    </main>
</body>

</html>
