<!DOCTYPE html>
<html lang="en">

{{ template "head" "Table // " }}

<body class="bg-gray-100 text-gray-900">
    <main class="mx-auto mt-20 max-w-lg px-5">
        <h2 class="text-3xl font-heading">Stats</h2>
        <h3 class="text-2xl font-heading mt-6 mb-3">Average Completion Times</h3>
        <ul id="stats" class="space-y-1">
        </ul>
        <div class="w-full flex gap-2">
            <a href="/" class="w-full my-2 py-1 rounded bg-gray-900 text-gray-100 text-center">
                Back to Homepage
            </a>
        </div>

        {{ template "footer" }}
    </main>

    <script src="static/stats.js"></script>
</body>

</html>
