<!DOCTYPE html>
<html lang="en">

{{ template "head" }}

<body class="bg-gray-100 text-gray-900">
    <main class="mx-auto mt-20 max-w-lg px-5">
        <section class="my-8">
            <div class="grid px-5" style="grid-template-columns: repeat({{ size .Nums }}, 1fr)">
                {{ range .Nums }}
                <div class="aspect-square border border-gray-500 flex items-center justify-center text-3xl">
                    {{ . }}
                </div>
                {{ end }}
            </div>
        </section>
        {{ if .ShowTimer }}
        <p class="w-full text-center">This is a timer</p>
        {{ end }}
        <section class="my-8">
            <div class="w-full flex flex-col">
                <button onclick="location.reload();"
                    class="w-full my-2 py-1 rounded bg-gray-900 text-gray-100 text-center">
                    Generate Another Table
                </button>
                <a href="/" class="w-full my-2 py-1 rounded bg-gray-900 text-gray-100 text-center">Back to Homepage</a>
            </div>
        </section>
        {{ template "footer" }}
    </main>
</body>

</html>
